body {
  background-color: brown;
  margin: 0;
  padding: 0;
}

#title {
  font-size: 10vmin;
  text-align: center;
  font-family: 'Annie Use Your Telescope',cursive;
  margin-bottom: 0;
  margin-top: 4vmin;
  margin-bottom: 2vmin;
}

h3 {
  font-size: 3vmin;
  font-family: 'Annie Use Your Telescope', cursive;
}



p {
  margin-top: -6px;
  font-family: 'Annie Use Your Telescope', cursive;
}

#mainContatiner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 8vmin;
  margin-left: 15vmin;
  margin-right: 15vmin;
}

.newImage {
  width: 360px;
  height: 420px;
}

.contentItem {
  background-color:white;
  grind-column-end: span 2;
  border-radius: : 30px
  display: justify content;
  align-items: center;
  flex-direction: column;
}

.blink{
		font-family: 'Annie Use Your Telescope',cursive;
		font-weight:bold;
		font-size:70px;
		margin-left:auto;
		text-align:center;
		margin-top:5px;
		margin-right:auto;
    color:black;

                animation: blink 2s ease infinite;
}
@keyframes blink{
  0%{opacity:0;}
  50%{opacity:1;}
  100%{opacity:0;}
}
@media only screen and (max-width: 500px){
  body{

    background-color: brown;
    padding 5vw;
  }

  img {
      width: 100%;

  }
}

@media only screen and (max-width: 1000px){
  h1{
    font-size: 60px;

  }

  img {
      width: 100%;

  }

}
